<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">${jdbc.driverClassName}</property>
    <property name="hibernate.connection.url">${jdbc.url}</property>
    <property name="hibernate.connection.username">${jdbc.usename}</property>
    <property name="hibernate.connection.password">${jdbc.password}</property>
    <property name="hibernate.dialect">${jdbc.dialect}</property>
<!--    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost/pa036</property>
    <property name="hibernate.connection.username">pa036</property>
    <property name="hibernate.connection.password">pa036</property>-->
    <mapping resource="cz/muni/fi/pa036/betting/model/Contact.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/ContactUser.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/UserRole.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/Status.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/Sport.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/UserFavoriteSport.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/Ticket.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/EventCompetitor.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/Event.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/League.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/Country.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/User.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/Role.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/Competitor.hbm.xml"/>
    <mapping resource="cz/muni/fi/pa036/betting/model/TicketEvent.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
